# This file is the template for environment variables.
# Copy it to a new file named .env and fill in the values (`cp .env.example .env`).
#
# Never commit the .env file.

DB_PROD_USERNAME=
DB_PROD_PASSWORD=
